.categories {
  background-color: black;
  color: yellow;
  padding: 20px;
  margin: 30px auto 0 auto;
  overflow: hidden;

  .categories-title {
    text-transform: uppercase;
    font-family: 'Kelson Bold';
    text-align: center;
    margin-bottom: 1.3rem;
  }

  .categories-list {
    .category {
      box-sizing: border-box;
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-transform: uppercase;
      padding: 20px;
      transition: 0.3s;

      &:hover {
        background: yellow;
        color: black;
      }

      .category-icon {
        font-size: 3rem;
      }

      .category-name {
        font-size: 1.3rem;
      }
    }
  }
}
