.categories {
  background-color: black;
  color: yellow;
  padding: 20px;
  margin: 30px auto 0 auto;
  overflow: hidden;
  min-height: 400px;

  .categories-title {
    text-transform: uppercase;
    font-family: 'Kelson Bold';
    text-align: center;
    margin-bottom: 1.3rem;
  }

  .categories-list {
    a {
      color: yellow;
    }

    .category,
    a {
      box-sizing: border-box;
      cursor: pointer;
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-transform: uppercase;
      padding: 20px;
      transition: 0.3s;

      &:hover {
        background: yellow;
        color: black;

        a {
          color: black;
        }
      }

      .category-icon {
        font-size: 3rem;
      }

      .category-name {
        font-size: 1.3rem;
      }
    }
  }

  .empty {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-top: 30px;
  }
}
