// Bootstrap Sass
@import './vendors/bootstrap';

// App styles variables
@import 'variables';

// Reset
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Fonts
@font-face {
  font-family: 'Kelson';
  src: url('../assets/fonts/Kelson_Lt.otf') format('opentype');
}

@font-face {
  font-family: 'Kelson Bold';
  src: url('../assets/fonts/Kelson_Md.otf') format('opentype');
}

// Global Styles
html,
body {
  background-color: $yellow;
  color: black;
  font-family: 'Kelson';
  width: 100%;
  height: 100%;
}

.loading {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  font-size: 3.5em;
  display: block;
  margin: 30px auto;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

// Components
@import './components/Home';
@import './components/layout/CategoriesList';
@import './components/ShowJoke';
